/*comienzo de header*/

.titulo {
    width: 10%;
    margin-left: 4%;
    margin-bottom: 5%;
}
    
.b1 {
    width: 10%;
    align-content: center;
    margin-left: 11%;
    margin-top: 0%;
}

.b2 {
    width: 10%;
    align-content: center;
    margin-left: 10%;
    margin-top: 0%;
}

.b3 {
    width: 10%;
    align-content: center;
    margin-left: 10%;
    margin-top: 0%;
}

.b4 {
    width: 10%;
    align-content: center;
    margin-left: 86%;
    margin-top: -14%;
    margin-bottom: 1%;
}

/*fin de header*/

/*comienzo de form*/

.user {
    margin-left: 0%;
}

.pass {
    margin-left: 0%;
}

.buttom {
    margin-left: 0%;
}
