* {
    margin: 0;
    padding: 0;
}

/*header*/

.main {
    background-color: rgba(204, 195, 195, 0.281);
    width: 100%;
}

.main .beaty {
    width: 100%;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
}

.main .beaty .b {
    width: 10%;
    margin: 28px;
    margin-bottom: 67px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    transition: 1s;
}

.main .beaty .b:hover {
    padding-block-end: 10px;
    transition: 1s;
}

.main .t {
    width: 200px;
    margin: 28px;
    margin-bottom: 67px;
    padding: 5px;
    display: inline-block;
    text-align: center;
}

/*Formulario*/

.formulario {
    width: 100%;
}

.formulario .intro {
    background-color: rgba(0, 0, 0, 0.253);
    border: 1px solid black;
    border-radius: 5px;
    margin: 14px;
    padding: 10px;
}

.formulario .intro .input {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.formulario .intro .input .box {
    padding: 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;

}

.formulario .intro .input .boxb {
    background-color: rgb(105, 26, 26);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
}

.formulario .intro .input .boxb:hover {
    padding: 12px;
    color: white;
    background-color: rgb(158, 4, 4);
    cursor: pointer;
    transition: 1s;
}

.formulario .intro .input .box:hover {
    padding: 12px;
    cursor: pointer;
    transition: 1s;
}

::-webkit-input-placeholder {
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}